<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs"  Inherits="Templates_MasterPage" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>MyOffice系统主页</title>    
    <meta http-equiv="Content-Type" content="text/html; charset=Gb2312" />   
    <link href="~/Css/Style.css" rel="stylesheet" type="text/css" />
    <link href="~/App_Themes/MasterBg/master.css" type="text/css" rel="stylesheet" />    
    <script type="text/javascript" src="../Css/Date.js"></script>
    <script type="text/javascript" src="../../My97DatePicker/WdatePicker.js"></script>
</head>
<body>
    <form  id="form" runat="server" >
        <asp:ScriptManager ID="ScriptManager1" runat="server"  >
        </asp:ScriptManager>
            <div id="divRow1" style="width: 99%; height: 100%; overflow: auto">
                <div id="divLeftMenu" style="float: left; width: 160px; height: 570px; text-align: left;
                    background-color: #6DC7FC;">
                    <div align="center" style="width: 160px; height: 20px; background-color: #6DC7FC">
                    <asp:Timer ID="Timer1" runat="server" OnTick="Timer1_Tick"></asp:Timer>
                    </div>
                    <div id="hidetitle" runat="server" align="center" style="width: 160px; background-color: #6DC7FC">
                        <div align="left" style="width: 150px; background-color: #7CCCFC">
                            &nbsp;&nbsp;&nbsp;欢迎：<asp:Label ID="lblUserName" runat="server" /><br />
                            &nbsp;&nbsp;&nbsp;角色：<asp:Label ID="lblRoleName" runat="server" /><br />
                            &nbsp;&nbsp;&nbsp;部门：<asp:Label ID="lblDepartName" runat="server" /><br />
                        <asp:UpdatePanel ID="UpdatePanel1" runat="server" UpdateMode="Conditional">
                            <ContentTemplate>
                                您共有&nbsp;<asp:Label ID="lblMessageCount" runat="server" style="font-weight: bold;"  Text="0" ForeColor="Black"></asp:Label>&nbsp;条新消息<asp:ImageButton ID="imgbtnMessage" runat="server"   ImageUrl="~/Images/new.gif" style="height: 11px; width: 28px; border-width: 0px;" OnClick="imgbtnMessage_Click" />
                            </ContentTemplate>
                            <Triggers>
                            <asp:AsyncPostBackTrigger ControlID="Timer1" EventName="Tick" />
                            </Triggers>
                         </asp:UpdatePanel>
                        </div>
                        <hr size="1" color="gray" />
                    </div>                    
                    <asp:UpdatePanel ID="UpdatePanel2" runat="server" UpdateMode="Always">
                        <ContentTemplate>    
                        <div id="divMenu" align="left" style="width: 160px; background-color: #6dc7fc">
                        <asp:TreeView ID="tvMyOffice" runat="server" CssClass="dtree" Style="position: relative" NodeWrap="True"
                            AutoGenerateDataBindings="False" ExpandDepth="1" Font-Size="Smaller" NodeIndent="5">
                        </asp:TreeView>    
                         </div>
                        </ContentTemplate>
                    </asp:UpdatePanel>
                </div>
                <div id="divMainContent" style="height: 100%" align="center">
                    <div id="divChildRow1" style="width: 99%; height: 25px; padding-top: 0px">
                        <div class="TopLine">
                        </div>
                        <div class="NoticeLine">
                            <div style="float: left; width: 60%; height: 22px">   
                               <a id="HyperLink2" runat="server" href="~/ScheduleManage/PersonNote/PersonNote.aspx">
                                     <img id="Image6" runat="server" src="~/Images/home.jpg"  style="height: 21px; width: 44px; border-width: 0px;" />
                                </a>
                                &nbsp;&nbsp;&nbsp;
                                    <asp:ImageButton ID="imgBtnReLogin" runat="server"   ImageUrl="~/Images/Relogin.jpg"  style="height: 21px; width: 68px; border-width: 0px;" OnClick="imgBtnReLogin_Click" />
                                &nbsp;&nbsp;&nbsp;
                                <asp:ImageButton  ID="imgBtnPassWord" runat="server"  ImageUrl="~/Images/modifypass.jpg" style="height: 21px; width: 68px;
                                    border-width: 0px;" OnClick="imgBtnPassWord_Click" />
                                &nbsp;&nbsp;&nbsp;
                                <img id="Image3" runat="server" src="~/Images/hidetitle.jpg" style="height: 22px;
                                    width: 107px; border-width: 0px;" />
                                &nbsp;&nbsp;&nbsp;
                                <img id="Image4" runat="server" src="~/Images/help.jpg" style="height: 22px;
                                    width: 44px; border-width: 0px;" />
                            </div>
                            <div style="float: left; width: 8%; height: 22px">
                            </div>
                            <div style="float: left; width: 20%; height: 22px" align="left">
                                <img id="Image5" runat="server" src="~/Images/smile.gif" style="border-width: 0px;" />&nbsp;<span
                                    id="lblNow" style="display: inline-block; color: #C0FFFF; width: 180px;">今天是：
                                    <script>					 
					                    document.write(new Date().format("yyyy-MM-dd"));
					                    var s="日一二三四五六";
					                    document.write(" 星期"+s.charAt(new Date().getDay()));
                                    </script>

                                </span>
                            </div>
                        </div>
                                       
                            <div style="width: 99%; height: 30px; text-align: left">                
                            <div style="left: 7px; width: 488px; position: relative; top:0px; height: 1px">
                                <asp:SiteMapPath ID="SiteMapPath1" runat="server" PathSeparator="：">
                                </asp:SiteMapPath>
                                <asp:SiteMapDataSource ID="SiteMapDataSource1" runat="server" />    
                            </div>               
                           <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                            </asp:ContentPlaceHolder>      
                           </div> 
                    </div>
                </div>
                <div id="divRow2" class="TopLine">
                </div>
                 <div  class="divFileManager" >     
           <asp:UpdatePanel ID="UpdatePanel3" runat="server" UpdateMode="Always">
            <ContentTemplate>  
            <div  class="divFileLeft">
               <asp:TreeView ID="tvDirectory" runat="server" CssClass="dtree" Style="position: relative" NodeWrap="True" AutoGenerateDataBindings="False" ExpandDepth="1" Font-Size="Smaller"  NodeIndent="3" >
               </asp:TreeView>   
            </div>
            </ContentTemplate>  
            </asp:UpdatePanel>
            <div  class="divFileRight">
             <asp:contentplaceholder id="cphFileManager" runat="server">
            </asp:contentplaceholder>
           </div>
        </div>
                <div id="divBottom" style="width: 100%; height: 22px; background-color: #99bcec;
                    text-align: center; color: #002877;">
                    版权所有：北京阿博泰克北大青鸟信息技术有限公司—产品研发部</div>
            </div>
    </form>
</body>
</html>
